# temp do not track while messing with files
datapacks/*
# temp do track files/folder here
!datapacks/script_builder/

# Ignore these folders
builds/*server*.zip
minecraft/backups/*
minecraft/.bobby/*
minecraft/.fabric/*
minecraft/.mixin.out/*
minecraft/backup/*
minecraft/config/*
minecraft/coremods/*
minecraft/craftpresence/*
minecraft/crash-reports/*
minecraft/data/*
minecraft/ESM/*
minecraft/fancymenu_data/*
minecraft/fancymenu_setups/*
minecraft/kubejs/exported/*
minecraft/local/*
minecraft/logs/*
minecraft/moddata/*
minecraft/mods/*
minecraft/mods*/*
minecraft/ModTranslations/*
minecraft/resourcepacks/*
minecraft/saves/*
minecraft/schematics/*
minecraft/screenshots/*
minecraft/server-resource-packs/*
minecraft/shaderpacks/*
minecraft/texturepacks/*
minecraft/Xaero*/*
natives/*
server/config/*
server/logs/*
server/mods/*
server/world/*

# ignore these symbolic linked folders
minecraft/resourcepacks
server/kubejs
server/patchouli_books

# Ignore these files
*.code-workspace
*.log
.packignore
instance.cfg
mmc-pack.json
modlist.html
minecraft/.qmenu_opened.marker
minecraft/ds_private_storage.json
minecraft/icon.png
minecraft/irisUpdateInfo.json
minecraft/keys.txt
minecraft/knownkeys.txt
minecraft/config/defaultoptions/servers.dat
minecraft/config/NoChatReports/NCR-Encryption.json
minecraft/config/NoChatReports/NCR-ServerWhitelist.json
minecraft/config/NoChatReports/README.md
minecraft/config/skyblockbuilder/data/*.txt
minecraft/options.amecsapi.txt
minecraft/options.justenoughkeys.txt
minecraft/options.txt
minecraft/patchouli_data.json
minecraft/pfmUpdateInfo.json
minecraft/polymer-resourcepack.zip
minecraft/realms_persistence.json
minecraft/rhino.local.properties
minecraft/servers.dat
minecraft/servers.dat_old
minecraft/usercache.json
minecraft/usernamecache.json
server/*.zip

# Stop ignoring these folders
!minecraft/config/defaultoptions/
!minecraft/config/defaultworldtype
!minecraft/config/drippyloadingscreen/
!minecraft/config/fancymenu/
!minecraft/config/fpsreducer/
!minecraft/config/ftbquests/
!minecraft/config/NoChatReports/
!minecraft/config/skyblockbuilder
!minecraft/config/yosbr/
!minecraft/patchouli_books/

# Ignore these sub-folders of above section
minecraft/config/fancymenu/locals/*

# Stop ignoring these files
!minecraft/config/bcc-common.toml
!minecraft/config/bhmenu-client.toml
!minecraft/config/defaultsettings.json
!minecraft/config/quark-common.toml
!minecraft/config/squatgrow-common.yaml
!minecraft/config/theoneprobe-client.toml
!minecraft/config/theoneprobe-common.toml
!minecraft/config/NoChatReports/NCR-Client.json
!server/config/bcc-common.toml
!server/config/carrier.json
